aiosqlite==0.17.0
annotated-types==0.7.0
asyncmy==0.2.9
atlastk==0.13.3
iso8601==1.1.0
mypy==1.11.0
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pypika-tortoise==0.1.6
pytz==2024.1
tortoise==0.1.1
tortoise-orm==0.21.5
typing_extensions==4.12.2


